@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

html {
  scroll-behavior: smooth;
  background-color: rgb(255, 255, 255);
  font-family: "Archivo";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-green {
  color: rgb(42, 244, 2);
}

.text-blue {
  color: rgb(0, 0, 222);
}

.text-gray {
  color: #949494;
}

.bg-blue {
  background-color: rgb(0, 0, 255);
  border-radius: 1rem;
  padding: 0 1rem;
  color: aliceblue;
}

.paragraf-primary {
  width: 75%;
  font-size: 1.3rem;
  margin-top: 2rem;
  text-align: center;
}
